data/terrain/test_images/*
data/terrain/train_images/*
log/*
result_eval/*
result_train/*
__pycache__/*
!data/terrain/test_images/.gitkeep
!data/terrain/train_images/.gitkeep
!log/.gitkeep
!result_eval/.gitkeep
!result_train/.gitkeep